h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("./assets/images/bg.png");
    background-repeat: repeat;
}